[Unit]
Description=Prometheus node exporter
After=syslog.target network.target

[Service]
Type=simple
RemainAfterExit=no
User=node_exporter
Group=node_exporter
EnvironmentFile=/etc/node_exporter/node_exporter.conf
ExecStart=/usr/sbin/node_exporter $OPTIONS
LimitNOFILE=200

[Install]
WantedBy=multi-user.target
